@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-flow__node-input {
  padding: 0 !important;
}

.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-group {
  padding: 0 !important;
  border-radius: 0 !important;
  width: auto !important;
  font-size: initial !important;
  color: initial !important;
  text-align: initial !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

.react-flow__handle {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}

.react-flow__handle.react-flow__handle-right {
  right: -6px;
}

.react-flow__handle.react-flow__handle-left {
  left: -6px;
}